@model IEnumerable<uhrenWelt.ViewModels.OrderVM>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h5>Rechnungs Adresse</h5>
@foreach (var item in Model.Take(1))
{
    <div class="d-flex justify-content-start">
        <p>@item.FirstName @item.LastName <br />@item.CStreet <br />@item.CZip @item.CCity</p>
        <br />
    </div>
}
<h5>Liefer Adresse</h5>
@foreach (var item in Model.Take(1))
{
    <div class="d-flex justify-content-start">
        <p>@item.FirstName @item.LastName <br />@item.Street <br />@item.Zip @item.City</p>
        <br />
    </div>
}
<br />
@foreach (var item in Model.Take(1))
{
    <div style="text-align:right">
        <h8>Datum: @DateTime.Now.ToShortDateString()</h8>
    </div>
    <div style="text-align:right">
        <h8 style="text-align:right">Rechnungsnummer: @item.OrderId</h8>
    </div>
    <br />
    <h2>Rechnung</h2>
}
<table class="table">
    <tr>
        <th style="text-align:left">ProduktNr</th>
        <th style="text-align:left">Name</th>
        <th style="text-align:left">Anzahl</th>
        <th style="text-align:left">Gesamtpreis</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Amount</td>
            <td>@String.Format("{0:C}", (item.NetUnitPrice * item.Amount) * 1.2m)</td>
        </tr>
    }
    @foreach (var item in Model.Take(1))
    {
        @*<tr>
            <th style="text-align:left" colspan="2">
                Netto Gesamtpreis: <u style="white-space: nowrap; text-decoration: underline #9CA39D;font-weight: 500;">@String.Format("{0:C}", item.PriceTotal / 1.2m)</u>
            </th>
        </tr>*@
        <tr>
            <th style="text-align:left" colspan="2">
                Gesamtpreis inkl. MwSt.: <u style="white-space: nowrap; text-decoration: underline #9CA39D;font-weight: 500;">@String.Format("{0:C}", item.PriceTotal)</u>
            </th>
        </tr>
    }
</table>
<br />
<div style="text-align:center"><p>Vielen Dank für Ihren Einkauf!</p></div>



