@model IEnumerable<uhrenWelt.Models.Cart>
@{
    ViewBag.Title = "Bestellung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Ihre Bestellung</h2>
<p>
    @Html.ActionLink("Zurück", "Shop", "Shop", null, new { @class = "removeStyle" })
</p>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Vorname</th>
            <th>Nachname</th>
            <th>Straße</th>
            <th>Stadt</th>
            <th>Postleitzahl</th>
        </tr>
        @foreach (var cart in Model)
        {
            var totalPrice = (cart.NetUnitPrice * cart.Amount) * 1.2m;
            <tr>
                <td>@cart.ProductId</td>
                <td>@cart.ProductName</td>
                <td>@Html.DisplayFor(c => cart.Amount)</td>
                <td>@String.Format("{0:C}", totalPrice)</td>
            </tr>
        }
        @foreach (var item in Model.Take(1))
        {
            <tr>
                <th>Gesamtpreis:</th>
                <td>@String.Format("{0:C}", @item.PriceTotal)</td>
            </tr>
        }
    </table>
</div>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>ProduktNr</th>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Gesamtpreis inkl. MwSt</th>
        </tr>
        @foreach (var cart in Model)
        {
            var totalPrice = (cart.NetUnitPrice * cart.Amount) * 1.2m;
            <tr>
                <td>@cart.ProductId</td>
                <td>@cart.ProductName</td>
                <td>@Html.DisplayFor(c => cart.Amount)</td>
                <td>@String.Format("{0:C}", totalPrice)</td>
            </tr>
        }
        @foreach (var item in Model.Take(1))
        {
            <tr>
                <th>Gesamtpreis:</th>
                <td>@String.Format("{0:C}", @item.PriceTotal)</td>
            </tr>
        }
    </table>
</div>

