@model IEnumerable<uhrenWelt.ViewModels.OrderVM>

@{
    Layout = null;
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>


<br />
<img style="max-width: 160px; display: block; margin-left: auto; margin-right: auto; width: 50%;" src="~/Img/Logos/uwLogo.png" alt="uhrenweltLogo">
<h5>Rechnungsadresse</h5>
@foreach (var item in Model.Take(1))
{
    <div class="d-flex justify-content-start">
        <p>@item.FirstName @item.LastName <br />@item.CStreet <br />@item.CZip @item.CCity</p>
        <br />
    </div>
}
<h5>Lieferadresse</h5>
@foreach (var item in Model.Take(1))
{
    <div class="d-flex justify-content-start">
        <p>@item.FirstName @item.LastName <br />@item.Street <br />@item.Zip @item.City</p>
        <br />
    </div>
}
<br />
@foreach (var item in Model.Take(1))
{
    <div style="text-align:right">
        <h8>Wien, am &nbsp; @DateTime.Now.ToShortDateString()</h8>
    </div>
    @*<div style="text-align:right">
            <h8>uhrenwelt.at</h8>
        </div>
        <div style="text-align:right">
            <h8>Musterstrasse 17</h8>
        </div>
        <div style="text-align:right">
            <h8>1220 Wien</h8>
        </div>*@
    <div style="text-align:right">
        <h8 style="text-align:right">Rechnungsnummer: @item.OrderId</h8>
    </div>
    <br />
    <h2>Rechnung</h2>
}
<table class="table">
    <tr>
        <th style="text-align:left">ProduktNr</th>
        <th style="text-align:left">Name</th>
        <th style="text-align:left">Anzahl</th>
        <th style="text-align:left">Zeilenpreis</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.ProductId</td>
            <td>@item.ProductName</td>
            <td>@item.Amount</td>
            <td>@String.Format("{0:C}", (item.NetUnitPrice * item.Amount) * 1.2m)</td>
        </tr>
    }
    @foreach (var item in Model.Take(1))
    {
        @*<tr>
                <th style="text-align:left" colspan="2">
                    Netto Gesamtpreis: <u style="white-space: nowrap; text-decoration: underline #9CA39D;font-weight: 500;">@String.Format("{0:C}", item.PriceTotal / 1.2m)</u>
                </th>
            </tr>*@
        <tr>
            <th style="text-align:left;" width="310px">Netto: <u style="font-weight: 500; text-align: left;">@String.Format("{0:C}", (item.PriceTotal) / 1.2m)</u></th>
        </tr>
        <tr>
            <th style="text-align:left" width="310px">20% USt.: <u style="font-weight: 500; text-align: left;">@String.Format("{0:C}", item.PriceTotal - ((item.PriceTotal) / 1.2m))</u></th>
        </tr>
        <tr>
            <th style="text-align:left" width="310px">Brutto: <u style="font-weight: 500; text-align: left;">@String.Format("{0:C}", item.PriceTotal)</u></th>
        </tr>
    }
</table>
<br />
<div style="text-align:center"><p>Vielen Dank für Ihren Einkauf!</p></div>



