@model IEnumerable<uhrenWelt.ViewModels.OrderVM>
@{
    ViewBag.Title = "Bestellung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Lieferadresse</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Straße</th>
            <th>Stadt</th>
            <th>Postleitzahl</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Take(1))
        {
            <tr>
                <td>@item.Street</td>
                <td>@item.City</td>
                <td>@item.Zip</td>
            </tr>
            <tr>
                <form action="/Order/ChangeAddress" method="post">
                    <td>
                        <div class="form-group">
                            <input name="street" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Straße" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="city" class="form-control" placeholder="Stadt" required>
                        </div>
                    </td>
                    <td>
                        <div class="form-group">
                            <input type="text" name="zip" class="form-control" placeholder="Postleitzahl" required>
                        </div>
                    </td>
                    <td>
                        <input hidden name="id" value="@item.OrderId" />
                        <button type="submit" class="btn btn-warning">Bearbeiten</button>
                    </td>
                </form>
            </tr>

        }
    </table>
</div>
<br />
@foreach (var item in Model.Take(1))
{
    <h2>Rechnung</h2>
    if (ViewBag.Message != null && ViewBag.Message == "NewCustomer")
    {
        <br />
        <p style="color:red; text-align: center;">Für Ihre erste Bestellung erhalten Sie 3% Bonus von uns!</p>
    }
    <h8>Datum: @DateTime.Now.ToShortDateString()</h8>
    <br />
    <h8>Rechnungsnummer: @item.OrderId</h8>
}
<div class="table-responsive">
    <table class="table table-striped">
        <tr style="text-align:left">
            <th>ProduktNr</th>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Zeilenpreis</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Amount</td>
                <td>@String.Format("{0:C}", (item.NetUnitPrice * item.Amount) * 1.2m)</td>
            </tr>
        }
        @foreach (var item in Model.Take(1))
        {
            <tr>
                <th width="310px">Netto: <u style="font-weight:500">@String.Format("{0:C}", (item.PriceTotal) / 1.2m)</u></th>
            </tr>
            <tr>
                <th width="310px">20% USt.: <u style="font-weight:500">@String.Format("{0:C}", item.PriceTotal - ((item.PriceTotal) / 1.2m))</u></th>
            </tr>
            <tr>
                <th width="310px">Brutto: <u style="font-weight:500">@String.Format("{0:C}", item.PriceTotal)</u></th>
            </tr>
        }
    </table>
</div>

<div class="buttonCenter">
    @foreach (var item in Model.Take(1))
    {
        @Html.ActionLink("Jetzt kaufen", "ConfirmOrder", "Order", new { Id = item.OrderId }, new { @class = "btn btn-success" })
    }
</div>

