@model IEnumerable<uhrenWelt.ViewModels.OrderVM>
@{
    ViewBag.Title = "Bestellung";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Adresse</h2>
<div class="table-responsive">
    <table class="table table-striped">
        <tr>
            <th>Straße</th>
            <th>Stadt</th>
            <th>Postleitzahl</th>
            <th></th>
        </tr>
        @foreach (var item in Model.Take(1))
        {
            <tr>
                <td>@item.Street</td>
                <td>@item.City</td>
                <td>@item.Zip</td>
            </tr>
            <tr>
                <form action="/Order/ChangeAddress" method="post">
                <td>
                    <div class="form-group">
                        <input name="street" type="text" class="form-control" aria-describedby="emailHelp" placeholder="Straße" required>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" name="city" class="form-control" placeholder="Stadt" required>
                    </div>
                </td>
                <td>
                    <div class="form-group">
                        <input type="text" name="zip" class="form-control" placeholder="Postleitzahl" required>
                    </div>
                </td>
                <td>
                    <input hidden name="id" value="@item.OrderId" />
                    <button type="submit" class="btn btn-primary">Bearbeiten</button>
                </td>
                </form>
            </tr>

        }
    </table>
    <br />
    @foreach (var item in Model.Take(1))
    {
        <h2>Rechnung</h2>
        <h8>Datum: @DateTime.Now.ToShortDateString()</h8>
        <br />
        <h8>Rechnungsnummer: @item.OrderId</h8>
    }
    <table class="table table-striped">
        <tr>
            <th>ProduktNr</th>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Gesamtpreis</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.ProductId</td>
                <td>@item.ProductName</td>
                <td>@item.Amount</td>
                <td>@String.Format("{0:C}", item.NetUnitPrice * item.Amount)</td>
            </tr>
        }
        @foreach (var item in Model.Take(1))
        {
            <tr>
                <th width="310px">Gesamtpreis inkl. MwSt.: <u style="font-weight:500">@String.Format("{0:C}", item.PriceTotal)</u></th>
            </tr>
        }
    </table>
</div>
<div class="buttonCenter">
    @foreach (var item in Model.Take(1))
    {
        @Html.ActionLink("Jetzt kaufen", "ConfirmOrder", "Order", new { Id = item.OrderId }, new { @class = "btn btn-success" })
    }
</div>

