@model uhrenWelt.Data.Product

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkt Details</h2>

<div>
    <p>
        @Html.ActionLink("Zurück", "Shop", null, new { @class = "removeStyle" })
    </p>
    <hr />
    <img class="detailsImage" src="@Model.ImagePath"/>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CategoryId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CategoryId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Manufacturer.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Manufacturer.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NetUnitPrice)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NetUnitPrice) €
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
    </dl>
</div>
