@model IEnumerable <uhrenWelt.ViewModels.StatsVM>
    
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="jumbotron jumbotron-fluid">
    <h1 class="text-center" style="color:#072A1D">uhrenwelt.at</h1>
    <p class="text-center" style="color:#0A3826">Exklusive Marken & angesagte Modelle zu besten Preisen.</p>
    <hr />
    <div class="homeBigImage">
        <img src="~/Img/Logos/rolexBanner2.jpg" />
    </div>
</div>
<hr />
<div class="flex-container">
    <div class="main-image">
        <img src="~/Img/Logos/brand_hublot.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/brand_rolex.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/breitling.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/iwc.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/longines.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/panerai.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/tag_heuer.jpg" />
    </div>
    <div class="main-image">
        <img src="~/Img/Logos/tudor.jpg" />
    </div>
</div>
<br />
<h3 style="text-align:center">Unsere top 5 produkte</h3>
<div class="products">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Shop", new {id = item.ProductId})" class="product-card-front">
            <div class="product-image">
                <img src="@item.ImagePath" alt="">
            </div>
            <div class="product-info">
                <h3>@item.ManufacturerName</h3>
                <h6>@item.ProductName</h6>
                <h9 style="font-size:12px">Verkaufte Stück: @item.Amount</h9>
            </div>
        </a>
    }
</div>





