@model IEnumerable<uhrenWelt.ViewModel.ProductVM>

@*Filtern/Sortieren*@
<nav class="product-filter">
    <h1></h1>
    <div class="sort">
        <div class="collection-sort">
            <label>Filtern:</label>
            <select>
                <option value="/">Alle Uhren</option>
                <option value="/">Marke</option>
            </select>
        </div>
        <div class="collection-sort">
            <label>Sortieren:</label>
            <select>
                <option value="/">Angebote</option>
                <option value="/">Preis</option>
            </select>
        </div>
    </div>
</nav>

    <div class="products">
        @foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Home", new { id = item.Id })" class="product-card">
                <div class="product-image">
                    <img src="@item.ImagePath" alt="">
                </div>
                <div class="product-info">
                    <h3>@item.Name</h3>
                    <h6>@item.ProductName</h6>
                    <h7>@Html.DisplayFor(model => item.NetUnitPrice)</h7>
                </div>
            </a>
        }
    </div>


