@model IEnumerable<uhrenWelt.Models.Cart>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Einkaufswagen</h2>
<p>
    <a href="javascript:void(0);" class="removeStyle" onclick="history.go(-2);">Zurück</a>
</p>
<table class="table">
    <tr>
        <th>Bild</th>
        <th>Manufacturer</th>
        <th>Name</th>
        <th>Amount</th>
        <th>Einzelpreis</th>
        <th>Gesamt Preis</th>
    </tr>
    @foreach (var cart in Model)
    {
        <tr>
            <td>
                <img src="@cart.Product.ImagePath" style="max-height:3em" />
            </td>
            <td>@cart.Product.Manufacturer.Name</td>
            <td>@cart.Product.ProductName</td>
            <td>@cart.Amount</td>
            <td>@cart.Product.NetUnitPrice</td>
            <td>@(cart.Product.NetUnitPrice * cart.Amount)</td>
        </tr>
    }
</table>