@model IEnumerable<uhrenWelt.Models.Cart>
@{
    ViewBag.Title = "Einkaufswagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Einkaufswagen</h2>
<p>
    @Html.ActionLink("Zurück", "Shop", "Shop", null, new { @class = "removeStyle" })
</p>
@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Bild</th>
                <th>Hersteller</th>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Einzelpreis</th>
                <th>Gesamtpreis inkl. MwSt</th>
                <th></th>
            </tr>
            @foreach (var cart in Model)
            {
                var totalPrice = (cart.NetUnitPrice * cart.Amount) * 1.2m;
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Shop", new { Id = cart.ProductId })"> <img src="@cart.ImagePath" style="max-height:3em"></a>
                    </td>
                    <td>@cart.ManufacturerName</td>
                    <td>@cart.ProductName</td>
                    <td>@Html.DisplayFor(c => cart.Amount)</td>
                    <td>@String.Format("{0:C}", cart.NetUnitPrice)</td>
                    <td>@String.Format("{0:C}", totalPrice)</td>
                    <td>
                        <form class="form-inline" method="post" action="/Cart/ChangeAmount">
                            @Html.ActionLink("Löschen", "Delete", "Cart", new { Id = cart.Id }, new { @class = "btn btn-danger btn-sm", style = "margin-right:4px;" })
                            @Html.ActionLink("-", "DecrementAmount", "Cart", new { Id = cart.Id }, new { @class = "btn btn-secondary btn-sm", style = "margin-right:4px;" })
                            @Html.ActionLink("+", "IcrementAmount", "Cart", new { Id = cart.Id }, new { @class = "btn btn-secondary btn-sm" })
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <th>Gesamtpreis:</th>
                @if (ViewBag.Total != null)
                {
                    <td style="white-space: nowrap;">@String.Format("{0:C}", ViewBag.Total)</td>
                }
            </tr>
        </table>
    </div>
    <div class="buttonCenter">
        @Html.ActionLink("Bestellen", "Order", "Cart", null, new { @class = "btn btn-success btn-lg" })
    </div>
}
else
{
    <br />
    <span style="color:red;">Einkaufswagen ist leer!</span>
}