@model IEnumerable<uhrenWelt.Models.Cart>
@{
    ViewBag.Title = "Einkaufswagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Einkaufswagen</h2>
<p>
    @Html.ActionLink("Zurück", "Shop", "Shop", null, new { @class = "removeStyle" })
</p>
@if (Model != null)
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>Bild</th>
                <th>Hersteller</th>
                <th>Name</th>
                <th>Anzahl</th>
                <th>Einzelpreis</th>
                <th>Gesamtpreis inkl. MwSt.</th>
                <th></th>
            </tr>
            @foreach (var cart in Model)
            {
                var totalPrice = cart.NetUnitPrice * cart.Amount;
                <tr>
                    <td>
                        <a href="@Url.Action("Details", "Shop", new { Id = cart.ProductId })"> <img src="@cart.ImagePath" style="max-height:3em"></a>
                    </td>
                    <td>@cart.ManufacturerName</td>
                    <td>@cart.ProductName</td>
                    <td>@Html.DisplayFor(c => cart.Amount)</td>
                    <td>@String.Format("{0:C}", cart.NetUnitPrice)</td>
                    <td>@String.Format("{0:C}", (totalPrice) * 1.2m)</td>
                    <td>
                        <form class="form-inline" method="post" action="/Cart/ChangeAmount">
                            @Html.ActionLink("Löschen", "Delete", "Cart", new { Id = cart.Id }, new { @class = "btn btn-danger btn-sm", style = "margin-right:4px;" })
                            @if (cart.Amount > 1 && cart.Amount <= 8)
                            {
                                @Html.ActionLink("-", "DecrementAmount", "Cart", new { Id = cart.Id }, new { @class = "btn btn-secondary btn-sm", style = "margin-right:4px;" })
                                @Html.ActionLink("+", "IncrementAmount", "Cart", new { Id = cart.Id }, new { @class = "btn btn-secondary btn-sm" })

                            }
                            else if (cart.Amount <= 1)
                            {
                                <button type="button" disabled class="btn btn-secondary btn-sm" style="margin-right:4px;">-</button>
                                @Html.ActionLink("+", "IncrementAmount", "Cart", new { Id = cart.Id }, new { @class = "btn btn-secondary btn-sm" })
                            }
                            else
                            {
                                @Html.ActionLink("-", "DecrementAmount", "Cart", new { Id = cart.Id }, new { @class = "btn btn-secondary btn-sm", style = "margin-right:4px;" })
                                <button type="button" disabled class="btn btn-secondary btn-sm">+</button>
                            }
                        </form>
                    </td>
                </tr>
            }
            <tr>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
                <th></th>
            </tr>
            <tr>
                <th style="white-space: nowrap;" colspan="2">Gesamtpreis: </th>
                @foreach (var item in Model.Take(1))
                {
                    <td style="white-space: nowrap; text-decoration: underline #9CA39D;">@String.Format("{0:C}", item.PriceTotal / 1.2m)</td>
                }
            </tr>
            <tr>
                <th style="white-space: nowrap;" colspan="2">Gesamtpreis inkl. MwSt.:</th>
                @foreach (var item in Model.Take(1))
                {
                    <td style="white-space: nowrap; text-decoration: underline #9CA39D;">@String.Format("{0:C}", item.PriceTotal)</td>
                }
            </tr>
        </table>
    </div>
    <div class="buttonCenter">
        @foreach (var item in Model.Take(1))
        {
            @Html.ActionLink("Bestellen", "Order", "Order", new { Id = item.OrderId }, new { @class = "btn btn-success btn-lg" })
        }
    </div>
}
else
{
    <br />
    <span style="color:red;">Einkaufswagen ist leer!</span>
}