@model IEnumerable<uhrenWelt.Models.Cart>
@{
    ViewBag.Title = "Einkaufswagen";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Einkaufswagen</h2>
<p>
    <a href="javascript:void(0);" class="removeStyle" onclick="history.go(-1);">Zurück</a>
</p>
@if (Model != null)
{
    <table class="table table-striped">
        <tr>
            <th>Bild</th>
            <th>Hersteller</th>
            <th>Name</th>
            <th>Anzahl</th>
            <th>Einzelpreis</th>
            <th>Gesamt Preis inkl. MwSt</th>
            <th></th>
        </tr>
        @foreach (var cart in Model)
        {
            var totalPrice = (cart.NetUnitPrice * cart.Amount) * 1.2m;
    <tr>
        <td>
            <img src="@cart.ImagePath" style="max-height:3em" />
        </td>
        <td>@cart.ManufacturerName</td>
        <td>@cart.ProductName</td>
        <td>@Html.DisplayFor(c => cart.Amount)</td>
        <td>@String.Format("{0:C}", cart.NetUnitPrice)</td>
        <td>@String.Format("{0:C}", totalPrice)</td>
        <td>
            <form class="form-inline" method="Post" action="/Cart/Order">
                <button type="submit" class="btn btn-secondary" style="margin-left:3px;">Ändern</button>
            </form>
        </td>
    </tr>
        }
    </table>
}
else
{
    <br />
    <span style="color:red;">Einkaufswagen ist leer!</span>
}