@model uhrenWelt.ViewModel.ProductVM
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Produkt Details</h2>

@*@{
        var priceChek = Model.NetUnitPrice > 10000 ? "klasseTeuer" : "klasseBillig";
    }
    <h2 class="@priceChek"></h2>*@
<div>
    <p>
        <a href="javascript:void(0);" class="removeStyle" onclick="history.go(-1);">Zurück</a>
    </p>
    <hr />
    <img class="detailsImage" src="@Model.ImagePath" />
    <div class="detailDescription">
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.NetUnitPrice)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.NetUnitPrice)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.Description)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.Description)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.ViewCounter)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ViewCounter)
            </dd>
        </dl>
    </div>
</div>
<div class="buttonCenter">
    @if (User.Identity.IsAuthenticated)
    {
        using (Html.BeginForm("AddToCart", "Cart", FormMethod.Post))
        {
            @Html.AntiForgeryToken()

            @Html.EditorFor(model => model.Amount, new { htmlAttributes = new { @class = "form-control", max = 9, min = 1 } })
            @Html.ValidationMessageFor(model => model.Amount, "", new { @class = "text-danger" })
            <input hidden name="id" value="@Model.Id" />

            <div style="text-align: center">
                <input type="submit" value="Kaufen" class="btn btn-secondary" />
            </div>
        }
    }
    else
    {
        <div class="small">
            <p style="color:darkred; font-size:15px;">Bitte registrieren und/oder einloggen um dieses Produkt zu kaufen!</p>
            <button type="button" class="btn btn-secondary" disabled>Kaufen</button>
        </div>
    }
</div>

<h2>Produkt Bewertungen</h2>
Kommentar: @Model.Comment
Bewertung: @Model.Ratings

@if (User.Identity.IsAuthenticated)
{
    <form method="post" action="/Shop/AddRating">
        <select class="form-select" name="rating" style="margin:3px; max-width:130px;">
            <option hidden="">Bewerten</option>
            <option value=1>1 Stern</option>
            <option value=2>2 Sterne</option>
            <option value=3>3 Sterne</option>
            <option value=4>4 Sterne</option>
            <option value=5>5 Sterne</option>
        </select>
        <input hidden name="prodId" value="@Model.Id" />

        <input style="margin:3px;" name="comment" class="form-control" placeholder="Kommentar..." />
        <button style="margin:3px;" type="submit" class="btn btn-secondary" style="margin-left:3px;">Bewerten</button>

    </form>
}

@Html.Action("RecommendedMan", "Shop")
@Html.Action("RecommendedCat", "Shop")
