@model IEnumerable<uhrenWelt.ViewModel.ProductVM>

<form class="form-inline" method="get" action="/Shop/Search">
    <input name="search" class="form-control" placeholder="Suchen..." />
    <button type="submit" class="btn btn-secondary">Suchen</button>
</form>

<div class="d-inline-flex" style="margin-top: 1%; margin-bottom:1%;">
    <select class="form-control" name="Category" style="margin-left: 11.7%;">
        <option value="" selected disabled hidden>Kategorie</option>
        <option>Automatik</option>
        <option>Smartwatch</option>
        <option>Mechanisch</option>
    </select>
    <select class="form-control" name="Manufacturer" style="margin-left: 10px;">
        <option value="" selected disabled hidden>Hersteller</option>
        <option>Rolex</option>
        <option>Breitling</option>
        <option>Tag Heuer</option>
        <option>Hublot</option>
        <option>IWC Schaffhausen</option>
        <option>Longines</option>
        <option>Tudor</option>
        <option>Panerai</option>
    </select>
</div>

<div class="products">

    @if (Model.Count() <= 0)
    {
        <p class="errorMessage">Kein passendes Produkt gefunden!</p>
    }
    else
    {
        foreach (var item in Model)
        {
            <a href="@Url.Action("Details", "Shop", new { id = item.Id })" class="product-card">
                <div class="product-image">
                    <img src="@item.ImagePath" alt="">
                </div>
                <div class="product-info">
                    <h3>@item.ManufacturerName</h3>
                    <h6>@item.ProductName</h6>
                    <h7>@Html.DisplayFor(model => item.NetUnitPrice)</h7>
                </div>
            </a>
        }
    }
</div>


