@model IEnumerable<uhrenWelt.ViewModel.ProductVM>

@Html.Partial("_SearchFilterBar")

<div class="products">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Shop", new {id = item.Id})" class="product-card">
            <div class="product-image">
                <img src="@item.ImagePath" alt="">
            </div>
            <div class="product-info">
                <h3>@item.ManufacturerName</h3>
                <h6>@item.ProductName</h6>
                <h7>@String.Format("{0:C}", item.NetUnitPrice * 1.2m)</h7>
            </div>
        </a>
    }
</div>