@model IEnumerable<uhrenWelt.ViewModel.ProductVM>

@*Filtern/Sortieren*@
<form class="form-inline" method="post" action="/Shop/Search">
    <input name="search" class="form-control" placeholder="Suchen..." />
    <button type="submit" class="btn btn-secondary">Suchen</button>
</form>

<div class="products">
    @foreach (var item in Model)
    {
        <a href="@Url.Action("Details", "Shop", new { id = item.Id })" class="product-card">
            <div class="product-image">
                <img src="@item.ImagePath" alt="">
            </div>
            <div class="product-info">
                <h3>@item.ManufacturerName</h3>
                <h6>@item.ProductName</h6>
                <h7>@Html.DisplayFor(model => item.NetUnitPrice)</h7>
            </div>
        </a>
    }
</div>


